<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraylogArduinoTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="textWriterListener" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <GraylogArduinoTray.Properties.Settings>
      <setting name="QueryInterval_ms" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ShowBalloon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProdErrorURI" serializeAs="String">
        <value>http://192.168.120.156:9200/_search</value>
      </setting>
      <setting name="ProdErrorJSON" serializeAs="String">
        <value>{   
"query" : {
        "filtered": {
            "filter": {
                "bool": {
                    "must": [{
                        "range": {
                            "timestamp": {
                                "gte": "now/d"
                            }
                        }
                    },
                    {
                        "term": {
                            "streams": "56137f99e4b0d01f53360fa2"
                        }
                    }]
                }
            }
        }
    },
    "sort": [
    {"timestamp" : {"order":"desc", "unmapped_type" : "long"}}]
}</value>
      </setting>
      <setting name="OnTrayBalloonClickURI" serializeAs="String">
        <value>http://192.168.120.155:5601/#/dashboard/System-Health?_g=(refreshInterval:(display:'10%20seconds',pause:!f,section:1,value:10000),time:(from:now-4h,mode:quick,to:now))&amp;_a=(filters:!(),panels:!((col:1,columns:!(message,Severity,source,SourceName,Category),id:Errors-Production,row:1,size_x:12,size_y:4,sort:!(timestamp,desc),type:search),(col:1,columns:!(message,Severity,source,SourceName,Category),id:Warnings-Production,row:5,size_x:12,size_y:4,sort:!(timestamp,desc),type:search)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'System%20Health')</value>
      </setting>
      <setting name="EnableLogging" serializeAs="String">
        <value>False</value>
      </setting>
    </GraylogArduinoTray.Properties.Settings>
  </userSettings>
</configuration>